:root{
    --bgBody: #F8F8F8;
    --bgButton: #fff;
    --bgDivider: #EAEAEA;
    --boxShadow: #D9FFF5;
    --boxShadowMenu: rgba(14, 24, 80, 0.2);
    --highLighter: #41F6D7;
    --mainHeaderLinkBS: #B8FFEC;
    --textColor: #1B1C21;
    --textColorLinks: #7E7E82;
    --bgGradientFirst: #fff;
    --bgGradientSecond: rgba(248, 248, 248, 0.0001);
    --bgGradientFirstSwiper: #F8F8F8;
    --bgGradientSecondSwiper: rgba(248, 248, 248, 0.0001);
    --bgPagination: #DDDDDD;
    --bgPaginationActive: #B5B6BC;
    --borderRepair: #EAEAEA;
    --bgSwiperLink: #FF3E79;

}
